<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>

<body>
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".pdf,.docx" multiple />
        <input type="submit" value="Upload">
    </form>
</body>

</html>