<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>

<body>
    <form action="/" method="POST" enctype="multipart/form-data">
        <!-- Fichier 1 -->
        <label for="fichier1">Fichier 1 :</label>
        <input type="file" id="fichier1" name="fichier1" accept=".pdf,.docx" multiple />

        <br><br>

        <label for="fichier2">Fichier 2 :</label>
        <input type="file" id="fichier2" name="fichier2" accept=".pdf,.docx" multiple />

        <br><br>

        <input type="submit" value="Upload">
    </form>
</body>

</html>